<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306268997844-la2mh83t0r3p8umrem276a2fru5j164m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306268997844-la2mh83t0r3p8umrem276a2fru5j164m</string>
	<key>API_KEY</key>
	<string>AIzaSyAdTCGiTTqfvXkdW-jtudDa8CL_mzcMQH4</string>
	<key>GCM_SENDER_ID</key>
	<string>306268997844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Direct-inc.Direct</string>
	<key>PROJECT_ID</key>
	<string>direct-f9743</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-f9743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306268997844:ios:5379ff633da4f3fa</string>
	<key>DATABASE_URL</key>
	<string>https://direct-f9743.firebaseio.com</string>
</dict>
</plist>